*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('photo1716720801 (1).jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}  
ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: blue;
    padding: 5px 20px;
    border: 1px solid;
    transition: 0.6s;
    margin: 20px;
}
ul li a:hover{
    background-color: #fff;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1{
    font-family: sans-serif;
    color: turquoise;
    font-size: 55px;
}
.button{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn1{
    border: 5px solid blue;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 50px;
    margin: 35px;
}
.btn1:hover{
    background-color: #fff;
    color: black;
}